* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    background-color: rgb(73, 69, 69);
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menus {
    list-style: none;
    display: flex;

}

.item {
    margin-right: 20px;

}

.item:hover {
    color: blue;
    cursor: pointer;
}

.logo-photo {
    width: 120px;

}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-image: url(/images/background.png),
        linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
}

.title {
    font-size: 55px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.btn {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    background-color: blue;
}

.banner-img {
    width: 300px;
}

.about-title {

    text-align: center;
    padding: 20px;
}


.about-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.about-info {
    padding: 10px;
    margin: 10px;
}

.firstP {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;

}

.secondP {
    font-size: 18;
    margin-bottom: 10px;
}

.box {
    width: 200px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: rgba(0, 0, 0, 0.486);
    text-align: center;
    padding: 15px;
    color: white;
    border-radius: 10px;
}

.box-title {
    margin-bottom: 10px;

}

.box-description {
    margin: 10px;
    font-size: 14px;
}

.icon {
    width: 80px;
}

.box-btn {
    background-color: rgba(128, 128, 128, 0.555);
}

.service-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.service-section {
    background-image: url(/images/background.png),
        linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
}

.footer {
    background-image: url(/images/black\ bg.jpg);
    height: 400px;

    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;

}

.footer-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.footer-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

hr {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.small {
    text-align: center;
}